# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# MATLAB
*.asv
*.m~
*.mex*
*.mexw64
*.mexa64
*.mexmaci64
slprj/
*.slxc

# Raw data files
I*.txt

# Results (generated output)
Result/*.txt
